body {
  margin: 0;
  padding: 0;
}

.navigation {
  background-color: #567;
}

.all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding-left: 1em;
}

.project-text {
  font-size: 20px;
  font-weight: bold;
}

.project-module {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-module button {
  width: 100px;
  height: 40px;
}

.project-module input {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
}

.hide-module {
  display: none;
}

.project-button {
  width: 29%;
}

.hide-all-project,
.hide-toDo-form,
.hide-toDo-form-first {
  display: none;
}

.todo-project-button {
  width: 8%;
  margin-left: 1em;
}

.nameTxt {
  color: #ffdf00;
  font-size: 17.2px;
  font-weight: bold;
  padding-top: 1em;
}

.main-todo-div h1 {
  margin-top: 10px;
  margin-left: 0.5em;
}

.description-class {
  width: 15%;
  height: 35px;
}

.todo-section-main-div {
  display: grid;
  grid-gap: 1em;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr;
}

.todo-section {
  background-color: #6c6c6c;
  padding: 10px;
}

.high-priority {
  color: red;
  font-weight: bold;
}

.medium-priority {
  color: yellow;
  font-weight: bold;
}

.low-priority {
  color: #7fff00;
  font-weight: bold;
}

.fas {
  color: white;
  padding: 5px;
  cursor: pointer;
}

.fa-edit {
  margin-left: 13em;
}

.p-title {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}

.p-date {
  color: #d4c8a8;
}
