body {
  margin: 0;
  padding: 0
}

.navigation {
  background-color: #567;
}

.all-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding-left: 1em;
}

.project-text {
  font-size: 20px;
  font-weight: bold;
}

.project-module {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-module button {
  width: 100px;
  height: 40px;
}

.project-module input {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
}

.hide-module {
  display: none;
}

.project-button {
  width: 29%;
}

.hide-all-project,
.hide-toDo-form,
.hide-toDo-form-first,
.hide-toDo-form-first{
  display: none;
}

.todo-project-button {
  width: 8%;
}

.nameTxt {
  color: #ffdf00;
  font-size: 17.2px;
  font-weight: bold;
  padding-top: 1em;

}

.description-class {
  width: 15%;
  height: 35px;
}

.todo-section-main-div {
  display: grid;
  grid-gap: 1em;
  padding: 15px;
  grid-template-columns: auto auto auto;
}

.todo-section {
  background-color: #789;
  padding: 10px;
}

.high-priority {
  color: red;
}

.medium-priority {
  color: yellow;
}

.low-priority {
  color: green;
}

.fas {
  color: white;
  padding: 5px;
}
